body {
    margin: 0;
  
    
  
  }
  
  .main {
    display: block;
  }
  
  
  .cabecera-principal header {
  
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
  }
  
  .seccion-principal {
  
   
    display: grid;
    grid-template-columns: 20% 80%;
    }
  
  .seccion-principal aside{
  
  
    background-color: #c3f1ff;
      
    padding-top: -100px;
  
  
  }
  
  

  
  
  #Contenido-dinamico {
  
    width: 70vw;
    height: 80vh;
    margin-top: 5px;
    margin-bottom: 5px;
  
  }
  
  #contenido-dinamico-menu {
  
    width: 70vw;
    height: 80vh;
    margin-top: 5px;
    margin-bottom: 5px;
  
  }
  
  
  
  .lista {
  
    
  
    height: 50px;
    border-bottom: 1px solid blueviolet;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding-left: 15px;
  
  }
  
  .lista:hover {
  
  
    color: blueviolet
  }
  
  .lista {
    cursor: pointer;
  }
  
  
  
  
  #texto-dinamico {
    text-align: center;
    color: gray;
  
  
  }
  
  
  p {
    list-style: none;
  }
  
  img {
    width: 26px;
    height: 26px;
  }
  
  
  
  
  .contenido-secundario {
  
    padding: 0px;
  
  
  
  }